@*Giao diện banner*@
<div class="fb-banner_wrap fb-banner_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <!-- Begin FB's Banner Area -->
                    <div class="col-lg-6 col-md-6" style="margin: 10px 0">
                        <div class="fb-banner fb-img-hover-effect pb-sm-30 pb-xs-30" style="height: 100%">
                            <a href="~/Product" style="height: 100%">
                                <img style="object-fit: contain; height: 100%" src="~/Content/images/products/OIG 1.jpg" alt="FB'S Banner">
                            </a>
                        </div>
                    </div>
                    <!-- FB's Banner Area End Here -->
                    <!-- Begin FB's Banner Area -->
                    <div class="col-lg-6 col-md-6">
                        <div class="fb-banner fb-img-hover-effect pb-sm-30 pb-xs-30" style="height: 100%">
                            <a href="~/Product" style="height: 100%">
                                <img style="object-fit: contain; height: 100%" src="~/Content/images/products/OIG 2.jpg" alt="FB'S Banner">
                            </a>
                        </div>
                    </div>
                    <!-- FB's Banner Area End Here -->
                    <!-- Begin FB's Banner Area -->
                    <div class="col-lg-6 col-md-6">
                        <div class="fb-banner fb-img-hover-effect pb-sm-30 pb-xs-30" style="height: 100%">
                            <a href="~/Product" style="height: 100%">
                                <img style="object-fit: contain; height: 100%" src="~/Content/images/products/OIG 3.jpg" alt="FB'S Banner">
                            </a>
                        </div>
                    </div>
                    <!-- FB's Banner Area End Here -->
                    <!-- Begin FB's Banner Area -->
                    <div class="col-lg-6 col-md-6">
                        <div class="fb-banner fb-img-hover-effect pb-sm-30 pb-xs-30" style="height: 100%">
                            <a href="~/Product" style="height: 100%">
                                <img style="object-fit: contain; height: 100%" src="~/Content/images/products/OIG 4.jpg" alt="FB'S Banner">
                            </a>
                        </div>
                    </div>
                    <!-- FB's Banner Area End Here -->
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Begin FB's Banner Area -->
                <div class="fb-banner fb-img-hover-effect pt-xs-30" style="height: 100%; padding-top: 10px;">
                    <a href="~/Product" style="height: 100%">
                        <img style="height: 100%" src="~/Content/images/products/OIG 5.jpg" alt="FB'S Banner">
                    </a>
                </div>
                <!-- FB's Banner Area End Here -->
            </div>
        </div>
    </div>
</div>
